USE [master]
GO
/****** Object:  Database [cs6232-g1]    Script Date: 4/4/2021 1:53:28 PM ******/
CREATE DATABASE [cs6232-g1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartClinc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SmartClinc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartClinc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SmartClinc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cs6232-g1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cs6232-g1]
GO
/****** Object:  Table [dbo].[Administrators]    Script Date: 4/4/2021 1:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrators](
	[administrator_id] [int] IDENTITY(100,1) NOT NULL,
	[clinic_person_id] [int] NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Administrators] PRIMARY KEY CLUSTERED 
(
	[administrator_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 4/4/2021 1:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[appointment_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[reason] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClinicPersons]    Script Date: 4/4/2021 1:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicPersons](
	[clinic_person_id] [int] IDENTITY(1000,1) NOT NULL,
	[first_name] [varchar](45) NOT NULL,
	[last_name] [varchar](45) NULL,
	[date_of_birth] [date] NOT NULL,
	[gender] [char](1) NOT NULL,
	[street1] [varchar](45) NOT NULL,
	[street2] [varchar](45) NULL,
	[city] [varchar](45) NOT NULL,
	[state] [char](2) NOT NULL,
	[zip_code] [varchar](10) NOT NULL,
	[phone_number] [char](10) NOT NULL,
	[ssn] [char](9) NOT NULL,
 CONSTRAINT [PK_ClinicPersons_clinic_person_id] PRIMARY KEY CLUSTERED 
(
	[clinic_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 4/4/2021 1:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[doctor_id] [int] IDENTITY(200,1) NOT NULL,
	[clinic_person_id] [int] NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorSpecialties]    Script Date: 4/4/2021 1:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSpecialties](
	[doctor_id] [int] NOT NULL,
	[speciality] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DoctorSpecialties] PRIMARY KEY CLUSTERED 
(
	[doctor_id] ASC,
	[speciality] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabTestResults]    Script Date: 4/4/2021 1:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTestResults](
	[appointment_id] [int] NOT NULL,
	[lab_test_code] [varchar](45) NOT NULL,
	[date_performed] [datetime] NULL,
	[result] [varchar](45) NULL,
	[is_normal] [bit] NULL,
 CONSTRAINT [PK_LabTestResults_1] PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC,
	[lab_test_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabTests]    Script Date: 4/4/2021 1:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTests](
	[lab_test_code] [varchar](45) NOT NULL,
	[name] [varchar](45) NOT NULL,
 CONSTRAINT [PK_LabTests] PRIMARY KEY CLUSTERED 
(
	[lab_test_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nurses]    Script Date: 4/4/2021 1:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurses](
	[nurse_id] [int] IDENTITY(300,1) NOT NULL,
	[clinic_person_id] [int] NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Nurses] PRIMARY KEY CLUSTERED 
(
	[nurse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 4/4/2021 1:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[patient_id] [int] IDENTITY(400,1) NOT NULL,
	[clinic_person_id] [int] NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visits]    Script Date: 4/4/2021 1:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits](
	[appointment_id] [int] NOT NULL,
	[nurse_id] [int] NOT NULL,
	[weight] [decimal](5, 2) NOT NULL,
	[systolic_bp] [int] NOT NULL,
	[diastolic_bp] [int] NOT NULL,
	[body_temp] [decimal](5, 1) NOT NULL,
	[pulse] [int] NOT NULL,
	[symptoms] [varchar](500) NOT NULL,
	[initial_diagnosis] [varchar](500) NOT NULL,
	[final_diagnosis] [varchar](500) NULL,
 CONSTRAINT [PK_Visits] PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([appointment_id], [patient_id], [date], [doctor_id], [reason]) VALUES (1, 402, CAST(N'2021-04-05T12:37:00.000' AS DateTime), 200, N'Headache')
INSERT [dbo].[Appointments] ([appointment_id], [patient_id], [date], [doctor_id], [reason]) VALUES (2, 400, CAST(N'2021-04-06T12:40:00.000' AS DateTime), 200, N'Stomach ache')
INSERT [dbo].[Appointments] ([appointment_id], [patient_id], [date], [doctor_id], [reason]) VALUES (3, 400, CAST(N'2021-04-21T14:30:00.000' AS DateTime), 201, N'Back ache')
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[ClinicPersons] ON 

INSERT [dbo].[ClinicPersons] ([clinic_person_id], [first_name], [last_name], [date_of_birth], [gender], [street1], [street2], [city], [state], [zip_code], [phone_number], [ssn]) VALUES (1000, N'Jane', N'Doe', CAST(N'1990-07-28' AS Date), N'F', N'123 Main St.', N'', N'San Francisco', N'CA', N'94102', N'5555555555', N'         ')
INSERT [dbo].[ClinicPersons] ([clinic_person_id], [first_name], [last_name], [date_of_birth], [gender], [street1], [street2], [city], [state], [zip_code], [phone_number], [ssn]) VALUES (1001, N'Bruce', N'Wayne', CAST(N'1980-01-03' AS Date), N'M', N'456 Main Blvd.', N'', N'San Jose', N'CA', N'96102', N'5551234567', N'123456789')
INSERT [dbo].[ClinicPersons] ([clinic_person_id], [first_name], [last_name], [date_of_birth], [gender], [street1], [street2], [city], [state], [zip_code], [phone_number], [ssn]) VALUES (1002, N'Clark', N'Kent', CAST(N'1983-04-08' AS Date), N'M', N'3000 Washington Blvd.', N'', N'Austin', N'TX', N'78702', N'5557654321', N'987654321')
SET IDENTITY_INSERT [dbo].[ClinicPersons] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([doctor_id], [clinic_person_id]) VALUES (200, 1003)
INSERT [dbo].[Doctors] ([doctor_id], [clinic_person_id]) VALUES (201, 1004)
INSERT [dbo].[Doctors] ([doctor_id], [clinic_person_id]) VALUES (202, 1005)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[Nurses] ON 

INSERT [dbo].[Nurses] ([nurse_id], [clinic_person_id], [username], [password]) VALUES (300, 1000, N'jane', N'1234')
SET IDENTITY_INSERT [dbo].[Nurses] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([patient_id], [clinic_person_id]) VALUES (400, 1001)
INSERT [dbo].[Patients] ([patient_id], [clinic_person_id]) VALUES (401, 1002)
INSERT [dbo].[Patients] ([patient_id], [clinic_person_id]) VALUES (402, 1006)
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
INSERT [dbo].[Visits] ([appointment_id], [nurse_id], [weight], [systolic_bp], [diastolic_bp], [body_temp], [pulse], [symptoms], [initial_diagnosis], [final_diagnosis]) VALUES (1, 300, CAST(178.00 AS Decimal(5, 2)), 120, 80, CAST(97.0 AS Decimal(5, 1)), 80, N'Headache', N'Stress', N'')
INSERT [dbo].[Visits] ([appointment_id], [nurse_id], [weight], [systolic_bp], [diastolic_bp], [body_temp], [pulse], [symptoms], [initial_diagnosis], [final_diagnosis]) VALUES (4, 300, CAST(190.00 AS Decimal(5, 2)), 100, 80, CAST(97.0 AS Decimal(5, 1)), 89, N'Vomit 2 times a day', N'Stomach Virus', N'Stomach Bacteria')
GO
/****** Object:  Index [UQ_Administrators_clinic_person_id]    Script Date: 4/4/2021 1:53:29 PM ******/
ALTER TABLE [dbo].[Administrators] ADD  CONSTRAINT [UQ_Administrators_clinic_person_id] UNIQUE NONCLUSTERED 
(
	[clinic_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Administrators_username]    Script Date: 4/4/2021 1:53:29 PM ******/
ALTER TABLE [dbo].[Administrators] ADD  CONSTRAINT [UQ_Administrators_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Appointments_date_doctor_id]    Script Date: 4/4/2021 1:53:29 PM ******/
ALTER TABLE [dbo].[Appointments] ADD  CONSTRAINT [UQ_Appointments_date_doctor_id] UNIQUE NONCLUSTERED 
(
	[doctor_id] ASC,
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Appointments_date_patient_id]    Script Date: 4/4/2021 1:53:29 PM ******/
ALTER TABLE [dbo].[Appointments] ADD  CONSTRAINT [UQ_Appointments_date_patient_id] UNIQUE NONCLUSTERED 
(
	[date] ASC,
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Doctors_clinic_person_id]    Script Date: 4/4/2021 1:53:29 PM ******/
ALTER TABLE [dbo].[Doctors] ADD  CONSTRAINT [UQ_Doctors_clinic_person_id] UNIQUE NONCLUSTERED 
(
	[clinic_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LabTests_name]    Script Date: 4/4/2021 1:53:29 PM ******/
ALTER TABLE [dbo].[LabTests] ADD  CONSTRAINT [UQ_LabTests_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Nurses_clinic_person_id]    Script Date: 4/4/2021 1:53:29 PM ******/
ALTER TABLE [dbo].[Nurses] ADD  CONSTRAINT [UQ_Nurses_clinic_person_id] UNIQUE NONCLUSTERED 
(
	[clinic_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Nurses_username]    Script Date: 4/4/2021 1:53:29 PM ******/
ALTER TABLE [dbo].[Nurses] ADD  CONSTRAINT [UQ_Nurses_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Patients_clinic_person_id]    Script Date: 4/4/2021 1:53:29 PM ******/
ALTER TABLE [dbo].[Patients] ADD  CONSTRAINT [UQ_Patients_clinic_person_id] UNIQUE NONCLUSTERED 
(
	[clinic_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Visits_appointment_id]    Script Date: 4/4/2021 1:53:29 PM ******/
ALTER TABLE [dbo].[Visits] ADD  CONSTRAINT [UQ_Visits_appointment_id] UNIQUE NONCLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administrators]  WITH CHECK ADD  CONSTRAINT [FK_Administrators_ClinicPersons1] FOREIGN KEY([clinic_person_id])
REFERENCES [dbo].[ClinicPersons] ([clinic_person_id])
GO
ALTER TABLE [dbo].[Administrators] CHECK CONSTRAINT [FK_Administrators_ClinicPersons1]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctors] ([doctor_id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patient_id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_ClinicPersons] FOREIGN KEY([clinic_person_id])
REFERENCES [dbo].[ClinicPersons] ([clinic_person_id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_ClinicPersons]
GO
ALTER TABLE [dbo].[DoctorSpecialties]  WITH CHECK ADD  CONSTRAINT [FK_DoctorSpecialties_Doctors] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctors] ([doctor_id])
GO
ALTER TABLE [dbo].[DoctorSpecialties] CHECK CONSTRAINT [FK_DoctorSpecialties_Doctors]
GO
ALTER TABLE [dbo].[LabTestResults]  WITH CHECK ADD  CONSTRAINT [FK_LabTestResults_LabTests] FOREIGN KEY([lab_test_code])
REFERENCES [dbo].[LabTests] ([lab_test_code])
GO
ALTER TABLE [dbo].[LabTestResults] CHECK CONSTRAINT [FK_LabTestResults_LabTests]
GO
ALTER TABLE [dbo].[LabTestResults]  WITH CHECK ADD  CONSTRAINT [FK_LabTestResults_Visits1] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Visits] ([appointment_id])
GO
ALTER TABLE [dbo].[LabTestResults] CHECK CONSTRAINT [FK_LabTestResults_Visits1]
GO
ALTER TABLE [dbo].[Nurses]  WITH CHECK ADD  CONSTRAINT [FK_Nurses_ClinicPersons] FOREIGN KEY([clinic_person_id])
REFERENCES [dbo].[ClinicPersons] ([clinic_person_id])
GO
ALTER TABLE [dbo].[Nurses] CHECK CONSTRAINT [FK_Nurses_ClinicPersons]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_ClinicPersons] FOREIGN KEY([clinic_person_id])
REFERENCES [dbo].[ClinicPersons] ([clinic_person_id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_ClinicPersons]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Appointments] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointments] ([appointment_id])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Appointments]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Nurses] FOREIGN KEY([nurse_id])
REFERENCES [dbo].[Nurses] ([nurse_id])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Nurses]
GO
USE [master]
GO
